In [182]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as pxb
from scipy import stats

In [211]:
df = pd.read_csv('/Users/giselles/Desktop/lab-customer-analysis-round-5/files_for_lab/csv_files/marketing_customer_analysis.csv')
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [213]:
df.describe(include='O')

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
count,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134,9134
unique,9134,5,2,3,5,59,5,2,3,3,3,9,4,4,6,3
top,BU79786,California,No,Basic,Bachelor,1/10/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Medsize
freq,1,3150,7826,5568,2748,195,5698,4658,5779,5298,6788,3426,3752,3477,4621,6424

In [214]:
df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [216]:
df[df.duplicated()]

Empty DataFrame
Columns: [Customer, State, Customer Lifetime Value, Response, Coverage, Education, Effective To Date, EmploymentStatus, Gender, Income, Location Code, Marital Status, Monthly Premium Auto, Months Since Last Claim, Months Since Policy Inception, Number of Open Complaints, Number of Policies, Policy Type, Policy, Renew Offer Type, Sales Channel, Total Claim Amount, Vehicle Class, Vehicle Size]
Index: []

[0 rows x 24 columns]

In [217]:
df.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [218]:
categorical = df.select_dtypes(include = object)
categorical = categorical.drop(columns=['Customer','Effective To Date'])
categorical

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [240]:
from scipy.stats import chi2_contingency

for col in categorical.columns:
    contingency_table = pd.crosstab(categorical[col], numerical['Total Claim Amount'])
    
    # Perform the chi-squared test
    chi2, p, _, _ = chi2_contingency(contingency_table)
    alpha = 0.05
    if p >= alpha:
        categorical = categorical.drop(columns=[col]) 
        
categorical

,Response,Coverage,Education,Gender,Location Code,Marital Status,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,No,Basic,Bachelor,F,Suburban,Married,Offer1,Agent,Two-Door Car,Medsize
1,No,Extended,Bachelor,F,Suburban,Single,Offer3,Agent,Four-Door Car,Medsize
2,No,Premium,Bachelor,F,Suburban,Married,Offer1,Agent,Two-Door Car,Medsize
3,No,Basic,Bachelor,M,Suburban,Married,Offer1,Call Center,SUV,Medsize
4,No,Basic,Bachelor,M,Rural,Single,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...
9129,No,Basic,Bachelor,M,Urban,Married,Offer2,Web,Four-Door Car,Medsize
9130,Yes,Extended,College,F,Suburban,Divorced,Offer1,Branch,Four-Door Car,Medsize
9131,No,Extended,Bachelor,M,Suburban,Single,Offer1,Branch,Four-Door Car,Medsize
9132,No,Extended,College,M,Suburban,Married,Offer3,Branch,Four-Door Car,Large
9133,No,Extended,College,M,Suburban,Single,Offer4,Call Center,Two-Door Car,Medsize

In [220]:
numerical = df.select_dtypes(include=np.number)
numerical

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274.000000,69.0,32,5.0,0,1,384.811147
1,6979.535903,37657.380009,94.0,13,42.0,0,8,1131.464935
2,12887.431650,48767.000000,108.0,18,38.0,0,2,566.472247
3,7645.861827,37657.380009,106.0,18,65.0,0,7,529.881344
4,2813.692575,43836.000000,73.0,12,44.0,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941.000000,73.0,18,89.0,0,2,198.234764
9130,3096.511217,21604.000000,79.0,14,28.0,0,1,379.200000
9131,8163.890428,37657.380009,85.0,9,37.0,3,2,790.784983
9132,7524.442436,21941.000000,96.0,34,3.0,0,3,691.200000
9133,2611.836866,37657.380009,77.0,3,90.0,0,1,369.600000

In [221]:
from scipy import stats

for col in numerical.columns:
    numerical[col] = np.where(numerical[col] >0, numerical[col], numerical[col].mean())
    xt, lambda_value = stats.boxcox(numerical[col])

In [222]:
numerical.corr()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,1.000000,0.010481,0.396262,0.017931,0.007926,-0.039033,0.021955,0.226451
Income,0.010481,1.000000,-0.013668,-0.030490,0.010211,0.013335,-0.003896,-0.246283
Monthly Premium Auto,0.396262,-0.013668,1.000000,0.007468,0.020276,-0.013876,-0.011233,0.632017
Months Since Last Claim,0.017931,-0.030490,0.007468,1.000000,-0.037378,0.004364,0.009569,0.006060
Months Since Policy Inception,0.007926,0.010211,0.020276,-0.037378,1.000000,-0.000045,-0.010014,0.004325
Number of Open Complaints,-0.039033,0.013335,-0.013876,0.004364,-0.000045,1.000000,0.001787,-0.012363
Number of Policies,0.021955,-0.003896,-0.011233,0.009569,-0.010014,0.001787,1.000000,-0.002354
Total Claim Amount,0.226451,-0.246283,0.632017,0.006060,0.004325,-0.012363,-0.002354,1.000000

In [223]:
from scipy.stats import pearsonr

alpha = 0.05

for col in numerical.columns[:-1]:
    correlation, p_value = pearsonr(numerical[col], numerical['Total Claim Amount'])
    
    if p_value >= alpha:
        numerical = numerical.drop(columns=[col]) 
        
numerical

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0,2763.519279,56274.000000,69.0,384.811147
1,6979.535903,37657.380009,94.0,1131.464935
2,12887.431650,48767.000000,108.0,566.472247
3,7645.861827,37657.380009,106.0,529.881344
4,2813.692575,43836.000000,73.0,138.130879
...,...,...,...,...
9129,23405.987980,71941.000000,73.0,198.234764
9130,3096.511217,21604.000000,79.0,379.200000
9131,8163.890428,37657.380009,85.0,790.784983
9132,7524.442436,21941.000000,96.0,691.200000
9133,2611.836866,37657.380009,77.0,369.600000

In [224]:
Q1= numerical.quantile(0.25)
Q3= numerical.quantile(0.75)
IQR = Q3 - Q1

numerical_x = numerical[(numerical > Q1 - 1.5 * IQR) & (numerical < Q3 + 1.5 * IQR)]

In [225]:
numerical_x.isna().sum()

Customer Lifetime Value    817
Income                       0
Monthly Premium Auto       430
Total Claim Amount         453
dtype: int64

In [226]:
numerical_x = numerical_x.fillna(numerical_x.mean())
numerical_x.isna().sum()

Customer Lifetime Value    0
Income                     0
Monthly Premium Auto       0
Total Claim Amount         0
dtype: int64

In [227]:
for col in categorical.columns:
    numerical_x[col] = df[col]
numerical_x

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Response,Coverage,Education,Gender,Location Code,Marital Status,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,2763.519279,56274.000000,69.0,384.811147,No,Basic,Bachelor,F,Suburban,Married,Offer1,Agent,Two-Door Car,Medsize
1,6979.535903,37657.380009,94.0,390.034963,No,Extended,Bachelor,F,Suburban,Single,Offer3,Agent,Four-Door Car,Medsize
2,12887.431650,48767.000000,108.0,566.472247,No,Premium,Bachelor,F,Suburban,Married,Offer1,Agent,Two-Door Car,Medsize
3,7645.861827,37657.380009,106.0,529.881344,No,Basic,Bachelor,M,Suburban,Married,Offer1,Call Center,SUV,Medsize
4,2813.692575,43836.000000,73.0,138.130879,No,Basic,Bachelor,M,Rural,Single,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,6279.177892,71941.000000,73.0,198.234764,No,Basic,Bachelor,M,Urban,Married,Offer2,Web,Four-Door Car,Medsize
9130,3096.511217,21604.000000,79.0,379.200000,Yes,Extended,College,F,Suburban,Divorced,Offer1,Branch,Four-Door Car,Medsize
9131,8163.890428,37657.380009,85.0,790.784983,No,Extended,Bachelor,M,Suburban,Single,Offer1,Branch,Four-Door Car,Medsize
9132,7524.442436,21941.000000,96.0,691.200000,No,Extended,College,M,Suburban,Married,Offer3,Branch,Four-Door Car,Large
9133,2611.836866,37657.380009,77.0,369.600000,No,Extended,College,M,Suburban,Single,Offer4,Call Center,Two-Door Car,Medsize

In [228]:
numerical_x = pd.get_dummies(numerical_x, drop_first =True)
numerical_x

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Response_Yes,Coverage_Extended,Coverage_Premium,Education_College,Education_Doctor,Education_High School or Below,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,2763.519279,56274.000000,69.0,384.811147,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1,6979.535903,37657.380009,94.0,390.034963,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,12887.431650,48767.000000,108.0,566.472247,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,True,False
3,7645.861827,37657.380009,106.0,529.881344,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
4,2813.692575,43836.000000,73.0,138.130879,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,6279.177892,71941.000000,73.0,198.234764,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
9130,3096.511217,21604.000000,79.0,379.200000,True,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,False
9131,8163.890428,37657.380009,85.0,790.784983,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
9132,7524.442436,21941.000000,96.0,691.200000,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
9133,2611.836866,37657.380009,77.0,369.600000,False,True,False,True,False,False,...,False,True,False,False,False,False,False,True,True,False

In [229]:
X = numerical_x.drop(columns=['Total Claim Amount'])
y = numerical_x['Total Claim Amount']

In [230]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.35, random_state =0)

In [231]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

In [232]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [233]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [234]:
predictions_train = model.predict(X_train)
predictions_test = model.predict(X_test)

In [235]:
model.score(X_train, y_train), model.score(X_test, y_test)

(0.6915093106112138, 0.6773878477773088)

In [236]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, predictions_test), mean_squared_error(y_train, predictions_train)

(13592.534532526264, 13108.610781619303)

In [237]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, predictions_test), mean_absolute_error(y_train, predictions_train)

(86.14568231648005, 84.29233661611195)

In [238]:
from math import sqrt
sqrt(mean_squared_error(y_test, predictions_test)), sqrt(mean_squared_error(y_train, predictions_train))

(116.58702557543127, 114.49284161736621)